[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"

[packages]
tensorflow-gpu = "*"
tensorflow-datasets = "*"
tensorflow-probability = "*"
numpy = "*"

[requires]
python_version = "3.6"
